@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.bodycadastro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.container {
  width: 80%;
  height: 80vh;
  display: flex;
  border-radius: 15px;
  background-color: #242424;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.formImage {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2A82AE;
  border-radius: 15px;
  padding: 50px;
  animation: fadeIn 1s ease-in-out;
}

.formImage h1 {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  animation: fadeIn 1s ease-in-out;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  animation: fadeIn 1s ease-in-out;
}

.title h1 {
  color: #fff;
}

.loginButton {
  display: flex;
  align-items: center;
}

.loginButton button {
  width: 200px; 
  margin-top: 40px;
  height: 40px;
  border: none;
  background-color: #2D2D29;
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
}

.loginButton button:hover {
  background-color: #000;
  transition: all 0.4s;
}

.loginButton button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.formHeader h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #2A82AE;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.inputGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem 0;
  width: 400px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.inputBox input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.inputBox input:focus-visible {
  outline: 1px solid #2A82AE
}

.inputBox label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
}

.inputBox input::placeholder {
  color: #000000be;
}

.singupButton button{
  width: 100%;
  border: none;
  background-color: #2A82AE;
  padding: 0.62rem;
  border-radius: 7px;
  cursor: pointer;
}

.singupButton button:hover {
  background-color: #fff;
  transition: 0.4s;
}

.singupButton button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #f2f2f2;
}

/* Estilo para o botão de upload */
.fileUploadLabel {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  background-color: #2A82AE;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 0.6rem;
}

.fileUploadLabel:hover {
  background-color: #1e6b8c;
}

/* Esconde o input real */
.fileInput {
  display: none;
}

/* Estilo para o nome do arquivo */
.fileName {
  margin-top: 0.5rem;
  color: #fff;
  font-style: italic;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
  }
  .container {
    height: 100vh;
  }
  .formImage, .form {
    width: 100%;
  }

  .form {
    padding: 2rem 1rem;
  }

}

@media (max-width: 680px) {
  .container {
    width: 100%;
    height: 100vh;
  }
}


@media (max-width: 500px) {
  .formImage h1 {
    font-size: 30px;
  }
  .form {
  }
  .formHeader {
    display: flex;
    justify-content: space-between;
  }
  .container {
    width: 100%;
    height: 100vh;
  }
  .inputGroup {
    width: 300px;
  }
  .inputBox input {
    padding: 0.6rem 1rem;
  }
  .loginButton button {
    width: 250px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}