.bodyContainer {
    padding: 30px 200px 0;
    animation: fadeIn 1s ease-in-out;
}

.chatbotPopup{ 
    width: 100%;
    overflow: hidden;
    background-color: #242424;     
    border-radius: 25px;
    animation: fadeIn 1s ease-in-out; 
    border: 4px solid var(--azul-escuro);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.371);

}

.chatbotPopup .chatHeader{
    display: flex;
    padding: 15px 22px;
    justify-content: center;
    background-color: var(--azul-escuro);
    border-radius: 15px 15px 0 0;
}
.chatHeader .headerInfo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.headerInfo svg{
    width: 50px;
    height: 50px;
    padding: 2px;
    background-color: var(--branco);
    border-radius: 50px;
    fill: var(--azul-escuro);
}
.headerInfo h2{
    font-size: 30px;
    color: #f2f2f2;
}
.headerInfo h2 span{
    color: #1a1a1a;
}
.chatBody{
    height: 595px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
    overflow-y: auto;
    padding: 25px 22px;
    scrollbar-width: thin;
    scrollbar-color: var(--azul-escuro) transparent;
    animation: fadeIn 1s ease-in-out; /* Adiciona a animação */

}

.chatBody .message {
    display: flex;
    align-items: center;
    gap: 11px;
}

.chatBody .botMessage svg{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    padding: 2px;
    margin-bottom: 2;
    align-self: flex-end;
    background-color: var(--branco);
    border-radius: 50px;
    fill: var(--azul-claro);
}

.chatBody .message .messageText{
    padding: 12px 16px;
    max-width: 75%;
    word-wrap: break-word;
    white-space: pre-line;
}


.chatBody .botMessage .messageText{
    background-color: var(--branco);
    border-radius: 13px 13px 13px 3px;
}

.chatBody .userMessage{
    flex-direction: column;
    align-items: flex-end;
}

.chatBody .userMessage .messageText{
    background-color: var(--azul-escuro);
    color: var(--branco);
    border-radius: 13px 13px 3px 13px;
}
.chatFooter{
    bottom: 0;
    width: 100%;
    padding: 40px 100px;
    animation: fadeIn 1s ease-in-out; 
    
}
.chatFooter .chatForm{
    display: flex;
    align-items: center;
    background-color: var(--azul-escuro);
    border-radius: 50px;
}
.chatForm .messageInput{
    border: none;
    outline: none;
    width: 100%;
    background: none;
    height: 47px;
    padding: 0 17px;
}
.chatForm button{
    width: 35px;
    height: 35px;
    color: var(--azul-escuro);
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--branco);
    margin-right: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}
.chatForm button:hover{
    color: var(--azul-escuro);
    background-color: #c7c7c7;
    transition: 0.3s ease;
}


@media screen and (max-width: 850px) {
    .bodyContainer {
        padding: 12px ;
    }
    .chatBody{
        padding: 10px 10px;
    }
    .chatFooter{
        bottom: 0;
        width: 100%;
        padding: 20px 10px;
    }
}
@media screen and (max-width: 390px) {

    .chatBody{
        height: 550px;
    }
    .chatBody .message .messageText{
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {

    .chatBody{
        height: 400px;
    }
    
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



