@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');



.loginBorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    padding: 20px;
    border-radius: 20px;
    max-width: 1000px; 
    margin: 50px auto; 
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 1s ease-in-out; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.371);
    width: 100%;
    height: 80vh;

}

.titleform {
    font-family: 'Poppins', sans-serif; 
    color: var(--azul-claro);
    font-size: 45px;
    margin-inline: auto;
    margin-bottom: 40px;
    text-align: center;
    overflow: hidden; 
    white-space: nowrap; 
    border-right: 2px solid var(--azul-claro); 
    width: 0; 
    animation: typing 1.8s steps(15, end) forwards, blink 0.8s step-end infinite; 
}

.loginContainer {
    font-family: 'Poppins', sans-serif; 
    background-color: var(--azul-claro);
    padding: 50px 120px 20px 120px;
    border-radius: 15px;
    width: 100%;
    height: 60vh;
    max-width: 900px; 
    text-align: center;
    animation: fadeIn 1s ease-in-out; 

}

.loginContainerTitle{ 
    font-family: 'Poppins', sans-serif; 
    color: var(--branco);
    font-size: 45px;
    margin-bottom: 20px;
}

.loginForm label {
    font-family: 'Poppins', sans-serif; 
    color: white;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block; 
}

.loginForm input {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    padding: 15px;
    color: white;
    width: 100%;
}

.loginForm button {
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #333;
    color: var(--branco);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    max-width: 300px; 
}

.loginForm button:hover {
    background-color: #242424;
    color: var(--branco);
}
.registerText {
    color: var(--branco);
    font-size: 20px;
}
.registerText a {
    font-family: 'Poppins', sans-serif; 
    padding: 4px;
    color: var(--branco);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.registerText a:hover {
    color: #bfbfbf;
}

.botaocontent {
    padding: 55px;
}

@keyframes typing {
    from { width: 0; }
    to { width: 15ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

@media (max-width: 1469px) {
    .loginContainer {
        padding: 20px;
    }
    .loginForm button {
        margin-bottom: 5px;
    }
    .titleform {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .loginBorder {
        height: auto; 
        padding: 40px 15px;
    }

    .loginContainer {
        padding: 20px;
        height: 100vh;
    }

    .loginForm button {
        margin-top: 15px;
    }
    .titleform {
        font-size: 35px;

    }
    .registerText {
        color: var(--branco);
        font-size: 17px;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }