.Cabecalho {

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: #242424;
    color: var(--branco);
    padding: 0.5rem;
}

.Cabecalho a {
    text-decoration: none;
    color: var(--branco);
}
.Cabecalho a:hover {
    color: #c5c5c5;
    transition: 0.2s ease-in-out;
}
.Cabecalho a:hover svg {
    fill: var(--azul-escuro);
    background-color: #c5c5c5;
    transition: 0.2s ease-in-out;
}
.Cabecalho_menu {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cabecalho_menu svg{
    fill: #c5c5c5;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: var(--branco);
    border-radius: 50px;
    fill: var(--azul-claro);
}
.Cabecalho_consultar{
    background-color: var(--azul-claro);
    padding: 5px;
    border-radius: 10px;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.Cabecalho_consultar:hover{
    background-color: var(--azul-escuro);
}

/* Estilo para a imagem de perfil no cabeçalho */
.Cabecalho_profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Garante que a imagem se ajuste ao contêiner */
    border: 2px solid var(--azul-claro); /* Borda para destacar a imagem */
    cursor: pointer; /* Indica que é clicável */
    transition: transform 0.2s ease-in-out;
}

.Cabecalho_profileImage:hover {
    transform: scale(1.1); /* Aumenta levemente a imagem no hover */
}

.Cabecalho h1 {
    font-size: 1.5rem;
}

.Cabecalho span {
    color: var(--azul-claro);
}

.Cabecalho a:hover span{
    color: var(--azul-escuro);
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 450px) {
    .Cabecalho {
        flex-direction: column; /* Lado a lado */
        gap: 15px;
        padding: 1rem;
    }
}