.profileContainer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.profileTitle {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #215A6D;
    padding-bottom: 10px;
    text-align: center;
}

.profileSection {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profileInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2e2e2e;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    color: #fff;
}

.profileInputDisabled {
    background-color: #3a3a3a; /* Cor de fundo diferente */
    color: #a0a0a0; /* Cor do texto mais clara */
    cursor: not-allowed; /* Cursor indicando que está desabilitado */
    border: 1px solid #555; /* Borda mais clara */
}

.profileActions div {
    margin-bottom: 10px;
}

.profileButton {
    background-color: var(--azul-claro);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profileButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}


.profileButton:hover {
    background-color: var(--azul-escuro);
}