.profileContainer {
    background-color: #242424;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    margin: 15px auto;
    animation: fadeIn 1s ease-in-out;
}

.profileTitle {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 4px solid #215A6D;
    padding-bottom: 10px;
    text-align: center;
}

.profileSection {
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.profileInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2e2e2e;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    color: #fff;
}

.profileInputDisabled {
    background-color: #3a3a3a; 
    color: #a0a0a0; 
    cursor: not-allowed; 
    border: 1px solid #555;
}

.profileActions div {
    margin-bottom: 10px;
}


.profileButton,
.logoutButton {
    width: 150px; 
    text-align: center; 
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px; 
}


.profileButton {
    background-color: var(--azul-claro);
    color: #fff;
    border: none;
}

.profileButton:hover {
    background-color: var(--azul-escuro);
}


.logoutButton {
    background-color: #d9534f; 
    color: #fff;
    border: none;
}

.logoutButton:hover {
    background-color: #c9302c; 
}


.profileButtons {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
}



.imageContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 15px;
}


.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}


.fileUploadLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--azul-claro);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}


.fileInput {
    display: none;
}


.fileName {
    margin-top: 5px;
    font-size: 0.85rem;
    color: #a0a0a0;
    font-style: italic;
    text-align: center;
}


.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #1e1e1e; 
    color: #fff;
}


.loadingText {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--azul-claro); 
    animation: fadeIn 1.5s infinite; 
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }