.profileContainer {
    background-color: #242424;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    margin: 15px auto;
}

.profileTitle {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 4px solid #215A6D;
    padding-bottom: 10px;
    text-align: center;
}

.profileSection {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profileInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2e2e2e;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    color: #fff;
}

.profileInputDisabled {
    background-color: #3a3a3a; /* Cor de fundo diferente */
    color: #a0a0a0; /* Cor do texto mais clara */
    cursor: not-allowed; /* Cursor indicando que está desabilitado */
    border: 1px solid #555; /* Borda mais clara */
}

.profileActions div {
    margin-bottom: 10px;
}

/* Estilo base para os botões */
.profileButton,
.logoutButton {
    width: 150px; /* Define uma largura fixa para ambos os botões */
    text-align: center; /* Centraliza o texto */
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Espaçamento horizontal entre os botões */
}

/* Botão de Salvar Alterações */
.profileButton {
    background-color: var(--azul-claro);
    color: #fff;
    border: none;
}

.profileButton:hover {
    background-color: var(--azul-escuro);
}

/* Botão de Logout */
.logoutButton {
    background-color: #d9534f; /* Vermelho para indicar Logout */
    color: #fff;
    border: none;
}

.logoutButton:hover {
    background-color: #c9302c; /* Vermelho mais escuro no hover */
}

/* Contêiner para os botões */
.profileButtons {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 15px; /* Espaçamento uniforme entre os botões */
    margin-top: 20px; /* Espaço acima dos botões */
}

/* Estilo para a imagem de perfil */
/* Contêiner para alinhar a imagem e o botão */
.imageContainer {
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza os elementos */
    gap: 15px;
}

/* Estilo para a imagem de perfil */
.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}

/* Estilo para o botão de upload */
.fileUploadLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--azul-claro);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-bottom: 5px; /* Espaço entre o botão e o texto */
}

/* Esconde o input real */
.fileInput {
    display: none;
}

/* Estilo para o nome do arquivo */
.fileName {
    margin-top: 5px;
    font-size: 0.85rem;
    color: #a0a0a0;
    font-style: italic;
    text-align: center;
}

/* Contêiner para centralizar a mensagem de carregamento */
.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da tela */
    background-color: #1e1e1e; /* Fundo escuro para combinar com o tema */
    color: #fff;
}

/* Estilo para o texto de carregamento */
.loadingText {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--azul-claro); /* Cor principal do site */
    animation: fadeIn 1.5s infinite; /* Animação para dar destaque */
}

/* Animação de fade-in */
@keyframes fadeIn {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}